.characters-spinner {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.characters-list,
ul,
li {
    display: inline-table;
    text-align: center;
    padding: 0px 14px 0px 14px;
    list-style-type: none;
}